jax>=0.4.23
jaxlib>=0.4.23
google-cloud-storage
absl-py
transformers>=4.25.1
datasets
flax
open_clip_torch
optax
torch
torchvision
ftfy
tensorboard
tensorboardx
tensorboard-plugin-profile
Jinja2
scikit-image
parameterized
Pillow
pytest
tensorflow==2.15.0
tensorflow-datasets
ruff>=0.1.5<=0.2
git+https://github.com/mlperf/logging.git
scipy==1.13.0