absl-py
transformers>=4.25.1
datasets
flax
optax
torch
torchvision
ftfy
tensorboard
tensorboardX
Jinja2
scikit-image
parameterized
Pillow
pytest
tensorflow==2.15.0
tensorflow-datasets
ruff>=0.1.5<=0.2
git+https://github.com/mlperf/logging.git
