--extra-index-url https://download.pytorch.org/whl/cpu
absl-py
accelerate
aqtp
av
chex
datasets
einops
flax>=0.12.10
ftfy
google-cloud-storage
grain
hf_transfer
huggingface_hub
imageio-ffmpeg
imageio
jax
jaxlib
jaxopt
libtpu>=0.0.42.1
Jinja2
opencv-python-headless
optax
orbax-checkpoint
parameterized
Pillow
pyink
pylint
pytest
ruff
scikit-image
sentencepiece
tensorboard-plugin-profile
tensorboard
tensorboardx
tensorflow-datasets
tensorflow
tokamax
tokenizers
torchax>=0.0.11
transformers<5.0.0

# pinning torch and torchvision to specific versions to avoid
# installing GPU versions from PyPI when running seed-env
torch @ https://download.pytorch.org/whl/cpu/torch-2.10.0%2Bcpu-cp312-cp312-manylinux_2_28_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.25.0%2Bcpu-cp312-cp312-manylinux_2_28_x86_64.whl
qwix==0.1.8
